*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.colorfondo{
    background-color: tomato;
}

.colorPX{
    color: red;
    font-size: 16px; 
}



.colorREM{
    color: blue; 
    font-size: 1.5rem; /* 1rem = 16px */
}

p:hover{
    background-color: red;
}

