/*COLORES
Naranja: #f0640a
Magenta: #f00035
Purpura: #b2004a
*/

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

* {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #4a4a4a;  
}

h1, h2, h3, h4, h5, h6{
    font-weight: 900;
    font-family: 'Exo', sans-serif;
}

.sectionTitle{
    text-align: center;
}

.sectionTitle--wh{
    color: white !important; 
}

.header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}


.header__logo{
    width: 380px;
    filter: invert()
}

.header__list{
    list-style: none;
    display: flex;
    background-color: white;
    padding: 0.4rem;
}

.header__item{
    margin: 0px 1rem; 
}

.hero{
    background: black;
    height: 70vh;
    background-image: url("./assets/hero.jpg");
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.hero__container{
    width: 50%;
    padding: 0px 1rem;
}

.servicios{
    padding: 1rem 1.4rem;
}

.servicios_contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
}

.servicio_imagen {
    width: 100%;
}

.servicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicio__title{
    text-align: center;
}

.equipo {
    background-color: #b2004a;
    margin-top: -1rem;
    padding: 1rem 1.4rem;

}

.equipo p, .equipo h3 {
    color: white; 
}

.equipo__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; 
    
}

.equipo__image{
    width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__logo{
    width: 400px;
}

/*MEDIAS*/

@media screen and (max-width: 768px) {
    
    .header__logo{
        width: 100%;
    }

    .footer__logo{
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .equipo__contenedor {
        grid-template-columns: 1fr;
    }

    .servicios_contenedor {
     
        grid-template-columns: 1fr;
     
    }
    
    .hero h2 {
        display: none;
    }

    .hero {
        align-items: flex-end;
        position: relative;
        justify-content: center;
        padding-bottom: 2rem;
    }
    
    .hero__container {
        width: 100%;
        padding: 0px 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}